.page-coupons-update
  background-color #eee
  .left-col
    max-width 370px
    width 370px
  .coupon-preview
    margin auto
  .field
    .input
      &.year
        width 4em
      &.month, &.day
        width 3em
