@import '../../../layouts/variables.styl';
@import '../index.styl';

.page-regi-update
  .page-regi-container
    .right
      padding 0 3%
      .cashier-inputs
        display flex
        flex-wrap wrap
        .input-container
          margin 0.5em
          width 20.3%

