@import '../../../layouts/variables.styl';

.basic-info
  .basic-info-input
    padding 0.8em
    .field
      .input
        max-width 20em
      .field-label
        font-size 0.8em
      .zip-code, .telephone
        display flex
        align-items center
        .help
          font-size 8px

  .basic-info-disp
    padding 1.25rem

  .attention
    color $color-grey
    width 80%
    margin auto

