@import '../../../layouts/variables.styl'

.product-input
  .category-apply
    display flex
    align-items center
    justify-content flex-start
    .icon
      width 1em
      height 1em
      margin-right .5em
  .text-lite
    color $color-grey
  .field
    .control
      .search-input
        background-color #fff
        width 13em
        box-shadow 0 2px 4px 0
      .icon
        height 100%
        img
          height 1.2em

  .product-application
    .attention
      display flex
      align-items center
      justify-content center
    .product-dim
      width 4em
