@import '../../../layouts/variables.styl';

.page-purchase-detail
  .receipts-container
    display flex
    justify-content space-around
  .purchase-detail-header
    display flex
    align-items center
    justify-content space-between
    padding 1em 15px
    .back
      color $color-text
      font-weight bold
