$color-text = #807F7E
$color-text-deep = #535353
$color-grey-lite = #EBEAEA
$color-grey-super-lite = #f8f8f8
$color-grey = #999
$color-primary = #0fafd1
$color-primary-invert = #fff
$color-secondary = #f2994A
$color-secondary-invert = #fff

$max-container-width = 1215px
$break-point = 769px


$text-color-base = #535353
$text-color-light = #c4c4c4

$nav-bg-color = #0FAFD1

positionAbsoluteFull()
  position absolute
  top 0
  left 0
  right 0
  bottom 0

size-is-mobile = '(max-width: ' + $break-point + ')'
