@import '../../layouts/variables.styl';

.page-regi
  min-width 1215px
  height 100vh
  overflow hidden
  .page-regi-container
    max-width 1215px
    width 1215px
    margin auto
    display flex
    .left, .center, .right
      height 100vh
      overflow scroll
      background-color $color-grey-lite
      padding-bottom 80px
    .left
      position relative
      width 20%
      background-color #fff
      box-shadow 3px 0px 8px 0px
    .center
      width 40%
    .right
      width 40%
